*{
    margin:0;
    padding: 0;
}

 /*INDEX*/

 #Logo ul li img{
    height: 100px;
    width: 200px;
    margin-top: 20%;
}

#Header{
    display: flex;
    flex-direction: row;
    width: 100%;
   
}

#Logo ul li{
    list-style: none;
    margin-left: 15px;
}

#Elementet ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

#Elementet{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

#Elementet ul li{
    list-style: none;
    margin-left: 15px;
    padding: 10px;
    font-size: 25px;
}

li a {
    text-decoration: none;
 }

li a:hover{
    color: hotpink;
}

.login{
    color: white;
    background: rgb(209, 54, 132);
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    padding: 0.375rem 1rem;
    font-size: 16px;
}

#img{
    width: 100%;
    height: 80vh;
}

.container h3{
    font-size: 50px;
    font-family: Edwardian Script ITC;
    word-spacing: 10%;
    text-align: right;
    color: hotpink;
    position: absolute;
    left: 62%;
    top: 70%;
}

.container h4{
    font-size: 60px;
    font-family: Edwardian Script ITC;
    word-spacing: 10%;
    text-align: right;
    color: hotpink;
    position: absolute;
    left: 1%;
    top: 30%;
}

.intro>h1 {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
    color: rgba(204, 182, 109, 0.527);
}

.Permbajtja {
    display: flex;
    justify-content: space-between;
    width: 70%;
    position: relative;
    left: 10%;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box>h4 {
    margin: 20px 0;
    margin-left: 40%;
    font-family: sans-serif;
    
}

.box p {
    font-weight: 100;
    margin-left: 35%;
    font-family: sans-serif;
    margin-bottom: 2%;
}

.box img {
    width: 15vw;
    height: 20vh;
    left: 35%;
    position: relative;  
}

 /*FOOTER*/

.single-footer{
    width: 33%;
    float: left;
    text-align: center;
    color: #fff;
}

.single-footer .fa{
    padding: 1px;
    font-size: 20px;
    text-decoration: none;
    width: 20px;
    text-align:center;
    border-radius: 50%;
}

.single-footer ul{
    margin: 0;
    padding:0;
    list-style: none;
}

.single-footer ul a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.single-footer p{
    width: 65;
    font-size: 17px;
}

#f-color{
   background-color:rgb(214, 202, 161);
   width: content;
   height: 20vh;
}

.wrapper .butoni{
   height: 50px;
   width: 50px;
   float: right;
   margin: 0 10px;  
   margin-top: 10%;
}

#copy{
   margin-top: 20%;
   font-size: 20px;
   margin-right: 18%;
}

.pm{
   margin-top: 5%;
   margin-right: 55%;
   font-size: 17px;
}

.butoni{
   margin-top: 5%;
}

.fa-phone{
    background: -webkit-radial-gradient(ellipse,  rgb(25, 115, 145) 75%, #ef1d49);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.fa-envelope{
    background: -webkit-radial-gradient(33% 100% circle, red 30%, red 62%, #9b36b7 85%, white);
    background: radial-gradient(circle at 33% 100%, red 30%,red 62%, #9b36b7 85%, white);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.fa-instagram{
    background: -webkit-radial-gradient(33% 100% circle, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.fa-twitter{
    background: -webkit-radial-gradient(center,  #08bee2e1 35%, #273478);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook{
    background: -webkit-radial-gradient(center, rgb(35, 35, 212) 20%, #0c27ad);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.fa-youtube{
    background: -webkit-radial-gradient(center, red 20%, #0c27ad);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

/*ABOUT US*/

.slideshow {
    max-width: 800vw;

    position: relative;
    margin: auto;   
 }

 .slideshow .Slides img{
    max-width: 500vw;
 }

.mbrapa, .para {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: 5px;
    padding: 16px;
    color:rgba(240, 162, 73, 0.959);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}
  
.para {
    right: 0; 
}
  
.mbrapa:hover, .para:hover {
    background-color: rgb(233, 235, 110);
}

#bout p{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(231, 175, 91);
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%; 
}

#bout #tx{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    background-color: rgb(231, 175, 91);
}

#bout #tx1{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(231, 175, 91);
    width: 100%;

}

/*WOMEN*/

.sector>h1 {
    text-align: center;
    margin-bottom: 2%;
    color: rgb(218, 110, 164);
}

.women {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    position: relative; 
    left: 2%;
    flex-direction: row;
}

 .new-w{
    margin-left:100px;
}



.w-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.w-box p {
    margin-left: 123px;
    font-family: sans-serif;  
}

.w-box img {
    width: 15vw;
    height: 30vh;
    left: 150px;
    position: relative; 
}


#boxes .w-box{
    text-align-last:center;
    width:200PX;
    padding:10px;
    margin-left: -3px;  
}

.w-boxx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:300px;
    margin:10px 0px;
    align-items: center;

}

.w-boxx h3 {
    margin-left: 130px;
}
.price{
    margin-left: 130px;
}
.w-boxx img {
    width: 15vw;
    height: 30vh;
    left: 55px;
    position: relative; 
}

.p-stili{
    background-color: rgb(218, 110, 164);
    color:#ffffff;
    margin-top:30px;
    margin-bottom:10px;  
}
.new-box{
    width:400px !important;
    margin-left:120px ;
}

#boxes .semore{
    background: rgb(238, 193, 142);
    border-radius: 20px;
    width: 25%;
    padding: 10px;
    margin-left: 220px;
    border: 0px;
}

button a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: bolder;
}

button a:hover{
    color: hotpink;
}

.w-box .price{
    margin-top: 5px;
    font-size: 15px;
    font-family: sans-serif;
}   
    
#boxes .buynow{
    background: rgb(238, 193, 142);
    border-radius: 20px;
    width: 25%;
    padding: 10px;
    margin-left: 130px;
    border: 0px;
    margin-top: 5px;
}

button {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: bolder;
} 

.w-box h3{
    font-size: 17px;
    margin-left: 25%;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
.shop >h1 {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 2%;
    color: rgb(218, 110, 164);
}
.dresses{
    margin-bottom: 5px;
    text-align: center;
    width: 60%;
    background-color: hotpink;
    margin-left: 20%;
    color: white;
}


/*MEN*/

.sector1>h1{
    text-align: center;
    margin-bottom: 2%;
    color:black;
}

#m-foto{
    width: 73vw;
    height:60vh;
    margin-left: 15%;
    margin-top: 3%;
}

.men {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    position: relative; 
    left: 2%;
    flex-direction: row;
}



.m-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.m-box p {
    margin-left: 20%;
    font-family: sans-serif;
}

.m-box img {
    width: 15vw;
    height: 30vh;
    left: 37%;
    position: relative;
}

.paragrafi {
    padding:2px;
    background-color:black;
    color:white;
    margin-top:60px;
    margin-bottom:10px;
    text-align: center;
    width: 70%;
    margin-left: 17%;
    font-family: sans-serif;
    font-size: 25px;
}

#bx .m-box{
    text-align-last:center;
    width:50%;
    padding:10px;
    margin-left: 20px; 
}

.Stili{
    padding:2px;
    background-color:black;
    color:white;
    margin-top:30px;
    margin-bottom:10px;
}

.shopM >h1 {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 2%;
    color: rgb(0, 0, 0);
    margin-left: 3%;
}
.jeans{
    margin-bottom: 5px;
    text-align: center;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.295);
    margin-left: 21.5%;
    color: white;

}

.men {
    display: flex;
    justify-content: space-around;
    width: 90%;
    position: relative;
    left: 3%;
    flex-direction: row;
}

.w-box .price{
    margin-top: 5px;
    margin-right: -7%;
    font-size: 15px;
    font-family: sans-serif;
} 


/*KIDS*/

#k-foto{
    width: 70vw;
    height:60vh;
    margin-left: 2%;  
}

.sector2>h1{
    text-align: center;
    margin-bottom: 2%;
    color:rgb(219, 183, 106);
}

.kids {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    left: 6%;
    flex-direction: row;
}

.k-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}

.k-box img {
    width: 15vw;
    height: 30vh;
    left: 20%;
    position: relative;
}

#bxo .k-box{
    text-align-last:center;
    width:50%;
    padding:10px;
    margin-left: 20px;

}

#k-txt{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    width: 80%;
    background-color:rgb(219, 183, 106);
    color: white;
    margin-left: 12%;
}

.foto-txt {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}

.foto-txt p{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    background-color:rgb(219, 183, 106) ;
    color: white;
    width: 55%;
    margin-left: 23%;
}

.k-teksti{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    background-color:rgb(219, 183, 106);
    width: 40%;
    color: white;
    margin-left: 31%;
}

.shopK >h1 {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 2%;
    color:rgb(219, 183, 106);
    margin-left: 3%;
}

.dressesK{
    margin-bottom: 5px;
    text-align: center;
    width: 60%;
    background-color:rgb(219, 183, 106);
    margin-left: 20%;
    color: white;
}
/*LOGIN*/

.cont{
    margin: auto;
    width: 30%;
    height: 20%;
    margin-bottom: 10%;
    margin-top: 5%;
  }

.cont form{
    width: 60%;
    height: 50vh;
    padding: 20px;
    background: rgba(235, 208, 208, 0.747);
    text-align: center;
    font-size: 15px;
    margin-left: 15%;
  }

.cont form h1{
  text-align: center;
  margin-bottom: 30px;
  color: hotpink;
}

 .form-control{
  width: 80%;
  height: 30px;
  background-color: white;
  border: 1px solid silver;
  margin: 10px 0 18px 0;
  padding: 0 10px;
  margin-top: 5%;
  border-radius: 15px;
}

.btn{
  margin-top: 5%;
  padding: 2%;
  width: 20%;
  background: hotpink;
  color: white;
  border: 0px;
}

#account{
    margin-top: 10%;
  }

/*REGISTER*/

.cont1{
  margin: auto;
  width: 30%;
  height: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.cont1 form{
  width: 70%;
  height: 55vh;
  padding: 20px;
  background: rgba(235, 208, 208, 0.747);
  text-align: center;
  font-size: 15px;
  margin-left: 10%;
}

.cont1 form h1{
  text-align: center;
  margin-bottom: 30px;
  color: hotpink;
}

.form-control1{
  width: 80%;
  height: 30px;
  background-color: white;
  border: 1px solid silver;
  margin: 10px 0 18px 0;
  padding: 0 10px;
  margin-top: 1%;
  border-radius: 15px;
}

.bttn{
  padding: 2%;
  width: 20%;
  background: hotpink;
  color: white;
  border:0px;
}

#rg{
    margin-top: 3%;
}


/*DASHBOARD*/

.dashboard-container{
    width: 50vw;
    /* background-color:rgb(161, 156, 160); */
    text-align: center;
    margin-left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
   min-height: 60vh;
    border-radius: 10%;
    margin-left: 25%;
    
}

.dashboard-container table {
    margin-top: 6%;
    margin-bottom: 30px;
}
.dashboard-container table tbody tr td{
    background-color: rgb(218, 91, 154);
    padding: 10px;   
    border-radius: 10px;
}

.dashboard-container table tbody tr td a {
   text-decoration: none;
   color: white;
}

.dashboard-container table tbody tr td a:hover{
    color: hotpink;
    cursor: pointer;
}

#colorchange{
    background-color: lightpink;
    color: rgb(189, 15, 102);
}

.formStyle{
    background-color: rgba(230, 197, 91, 0.486);
    width: 15%;
    height: 22%;
    margin-left: 40%;
    border-radius: 5px;
     margin-top: 5%; 
    position: absolute;
}

#saveBtn{
    border-radius: 5px;
    margin-top: 5%;
    padding: 2%;
    width: 20%;
    background: hotpink;
    color: white;
    border: 0px;
}

#editUsers{
    background-color: hotpink;
    width: 170px;
    height: 20px;
    border-radius: 5px;
    margin-left: 13%;
    margin-top: 10px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    padding-top: 4px;
}
 /* .selector{
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-left: 20px;

} */
 
.selector ul li  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    float: inline-start;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-left: 20px;
    
}
/*
.selector{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-direction: column;
}

#Elementet ul li{
    list-style: none;
    margin-left: 15px;
    padding: 10px;
    font-size: 25px;
    flex-direction: row;
}

 */

/*EDIT PRODUCT*/


.productStyle{
    background-color: #fed373;
    width: 250px;
    position: absolute;
    left: 20px;
    height: 300px;
}
.editProduct label
.editProduct input{
    margin: 20px 0;;
}

/*
#photoId{
    margin-left: 35px; 
    margin-top: 10px;
}


.priceId{
    bottom: 20px;
}

.productType{
    margin-top: 300x;
} 

.nameId{
    margin-top: 50px;
}

#inputName{
    margin-top: 10px;
    margin-bottom: 10px;
}

#pId{
    margin-top: 20px;
}

#inputPrice{
    margin-top: 10px;
    margin-bottom: 10px;
}

.editProduct #nameId{
    margin-top: 10px;
}

.editProduct #pId{
    margin-top: 20px;
}

.editProduct #priceId{
    margin-top: 10px;
}

.list{
    margin-top: 10px;
}

#sectorId{
    margin-bottom: 30px;
}

.productStyle label{
        margin-top: 10px;
        margin-bottom: 10px;
}

.productStyle #sectorId{
    margin-bottom: 10px;
} */
/*RESPONSIVITETI IPAD PRO*/

/*HOME*/
/*
@media (max-width:1024px){
    #Elementet ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: 17%;
    }

    #img {
        width: 100%;
        height: 18vh;
    }
    .container h4 {
        font-size: 40px;
        font-family: Edwardian Script ITC;
        word-spacing: 10%;
        text-align: right;
        color: hotpink;
        position: absolute;
        top: 11%;
    }
   
    .container h3 {
        font-size: 38px;
        font-family: Edwardian Script ITC;
        word-spacing: 10%;
        text-align: right;
        color: hotpink;
        position: absolute;
        left: 53%;
        top: 25%;
    }

    .box img {
        width: 15vw;
        height: 10vh;
        left: 35%;
        position: relative;
    }

    .single-footer {
        width: 31%;
        float: left;
        text-align: center;
        color: #fff;
    }

    .pm {
        margin-top: 5%;
        margin-right: 55%;
        font-size: 16px;
    }

    .Permbajtja {
        display: flex;
        justify-content: space-between;
        width: 80%;
        position: relative;
        left: 4%;
        flex-direction: row;
    }

    .box>h4 {
        margin: 20px 0;
        margin-left: 32%;
        font-family: sans-serif;
    }

    .box p {
        font-weight: 100;
        margin-left: 32%;
        font-family: sans-serif;
        margin-bottom: 2%;
    }

    #copy {
        margin-top: 38%;
        font-size: 18px;
        margin-right: 18%;
    }

    #f-color {
        background-color: rgb(214, 202, 161);
        width: 100vw;
        height: 20vh;
    }

    /*ABOUT US*/
   /*
    element.style {
        width: 100%;
        height: 25vh;
    }

    /*WOMEN*/
    /*
    .w-box img {
        width: 15vw;
        height: 10vh;
        left: 24%;
        position: relative;
    }

    .w-box p {
        margin-left: 0%;
        font-family: sans-serif;
    }

    .p-stili {
        padding: 1px;
        background-color: rgb(218, 110, 164);
        color: #ffffff;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #boxes .semore {
        background: rgb(238, 193, 142);
        border-radius: 20px;
        width: 35%;
        padding: 10px;
        margin-left: 35%;
        border: 0px;
    }

    .w-box p {
        margin-left: 0%;
        font-family: sans-serif;
        font-size: 9px;
    }

    #f-color {
        background-color: rgb(214, 202, 161);
        width: 100vw;
        height: 20vh;
    }

    /*MEN*/
    /*
    .paragrafi {
        padding: 1px;
        background-color: black;
        color: white;
        margin-top: 2%;
        margin-bottom: 1px;
        text-align: center;
        width: 60%;
        margin-left: 18%;
        font-family: sans-serif;
        font-size: 15px;
    }

    #m-foto {
        width: 65vw;
        height: 15vh;
        margin-left: 15%;
        margin-top: 1%;
    }

    .m-box img {
        width: 15vw;
        height: 10vh;
        left: 30%;
        position: relative;
    }

    .Stili {
        padding: 1px;
        background-color: black;
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .men {
        display: flex;
        justify-content: space-between;
        width: 90%;
        position: relative;
        left: 0%;
        flex-direction: row;
    }

    #copy {
        margin-top: 26%;
        font-size: 18px;
        margin-right: 18%;
    }

    #Linku {
        text-align: center;
        margin-top: 1%;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        margin-right: 6%;
    }

    .m-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 3%;
    }

    /*KIDS*/
/*
    #k-txt {
        text-align: center;
        font-family: Edwardian Script ITC;
        font-size: 15px;
        margin-right: 4%;
    }

    .k-box img {
        width: 15vw;
        height: 10vh;
        left: 10%;
        position: relative;
    }

    .sector2>h1 {
        text-align: center;
        margin-bottom: 0%;
        color: rgb(219, 183, 106);
    }

    .k-teksti {
        text-align: center;
        font-family: Edwardian Script ITC;
        font-size: 30px;
        margin-bottom: 10px;
    }

    #k-foto {
        width: 60vw;
        height: 20vh;
        margin-left: 2%;
    }

    .foto-txt {
        text-align: center;
        font-family: Edwardian Script ITC;
        font-size: 15px;
    }
}*/